{% extends 'base_layout.html' %}

{% block content %}
    
    <div class="pros">
        <div class="pro1" >
            <img src="https://th.bing.com/th/id/OIP.FCHldmjXJhRMkqDQw1aH_gHaE7?pid=ImgDet&rs=1" alt="dp" >
            <div class="ak" style="padding: 2rem; text-align: start;">
                <h6>user still haven't add profile</h6>
                <p>displayname:  <span  > -</span>  </p>
                <p>dob:<span>-</span></p>
                <p>email:<span>-</span></p>
                <p>bio:<span>-</span></p>
                
               
            </div>
        </div>
    </div>
    
{% endblock %}
