{% extends 'base_layout.html' %}

{% block content %}
    
    <div class="pros">
        <div class="pro1" >
            <img src="{{ pro.displayphoto.url }}" alt="dp" >
            <div class="ak" style="padding: 2rem; text-align: start;">
                <p>displayname:  <span  > {{pro.fullname}} </span> ({{pro.displayname}}) </p>
                <p>dob:<span>{{pro.dob}}</span></p>
                <p>email:<span>{{pro.email}}</span></p>
                <p>bio:<span>{{pro.bio}}</span></p>
                
               
            </div>
        </div>
    </div>
    
{% endblock %}
